<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <h1>Wacky Widgets</h1>
    <% if (widgets.length === 0) { %>
        <h3>No widgets here!</h3>
    <% } else { %>
        <% widgets.forEach(w => { %>
        <section>
            <div>
                <p><%=w.description %></p>
                <label for="quantity">Quantity:</label>
                <p id="quantity"><%= w.quantity %></p>
            </div>
        </section>
        <form action="/?_method=DELETE" method="POST">
            <input type="hidden" value="<%= w.description %>" name="description">
            <input type="hidden" value="<%= w.quantity %>" name="quantity">
            <input type="submit" value="DELETE">
        </form>
       <% }) %>
    <% } %>
    <hr>

   <h4>Add Widget</h4>
    <form action="/" method="POST">
        <input type="text" name="description" placeholder="Description...">
        <input type="text" name="quantity" placeholder="Quantity...">
        <input type="submit" value="ADD WIDGET">
    </form>

</body>
</html>